.filters-actions {
  margin: 30px 0 30px 20px;
  border: 1px solid black;
}

.filters-actions .ant-btn {
  margin: 0 15px 15px 15px;
}

.products-table {
  margin-left: 20px;
  border: 1px solid black;
}
