.app-layout {
  min-height: 100vh;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
